.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
    display: none; /* Hidden by default */
    z-index: 1001;
  }
  
  .chat-box.open {
    display: block; /* Show the chatbox when open */
  }
  
  .chat-box .drag-handle {
    background-color: #FFCF9D;
    padding: 8px;
    color: #000;
    user-select: none;
    
  }

  .contentAndInput{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  .chat-box .content {
    height: 175px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    border: 3px;
    margin-bottom: 5px;
  }

  .input-area{
    display: flex;
    flex-direction:row;
    border-radius: 8px;
  }

  .input-area:focus-within{
    outline: 5px;
    outline-style: solid;
    outline-color: #FFCF9D;
  }

  .chat-input {
    flex-grow: 2;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #000000;
  }

  .chat-input:focus{
    outline: none;
  }
  
  .send-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none !important;
    background-color: #000000;
  }

  .chat-box .toggle-btn {
    background-color: #ffffff;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    z-index: 1001;
  }
  
  .chat-box .close-btn {
    display: inline-block;
    color: red;
    cursor: pointer;
    margin-left: 5px;
  }

  .circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFCF9D;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000; /* High z-index to stay on top */
  }
  
  .circle-button:hover,
  .circle-button:focus {
    background-color: #FFCF9D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .message-bubble {
    color: #333;
    padding: 8px 14px;
    border-radius: 8px;
    margin: 8px 0;
    max-width: 80%;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }
  
  .message-bubble.clickable {
    cursor: pointer;
  }
  
  .message-bubble:hover {
    opacity: 0.9; /* Slight opacity change on hover */
  }